html, body {
    height: 100%
}
#mainGameDiv {

}

#mapDiv {
  border: 1px solid lightslategray;
  width: 100%;
  overflow: scroll;
}

#mapCanvas {
  position: relative;
  display: block;
  z-index: 99;
}

#mapContainer {
  position: relative;
  width: 100%;
}

#backgroundCanvas {
  position: relative;
  display: none;
}

#menuDiv {
  float: left;
  width: 174px;
  margin-right: 5px;
}

#menuButtonContainer {
  margin-left:5px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid darkslategrey;
  cursor: pointer;
  margin-bottom: 5px;
}

.menuButton {
  height: 36px;
  width: 36px;
  padding: 3px 3px 3px 3px;
}

#navigatorDiv {
    width:90%;
    height:117px;
    margin-left:3px;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    overflow:hidden;
    margin-bottom: 5px;
}

#phasepanel {
    border: 1px solid darkslategrey;
    border-radius: 5px;
    padding: 10px;
    padding-left: 26px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.phasepanelbtn {
    border-radius: 5px;
    background-color: beige;
    border: 1px solid darkslategrey;
}

.phasepanelbtn:hover{
    background-color: tan;
}

#hexInfoHead {
    border: 1px solid darkslategrey;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

#hexInfoFlag {
    border:1px solid darkslategrey;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#hexInfoHexId {
    text-align:right;
    width: 100%
    padding-left: 10px;
    padding-right: 10px;
}

#hexInfoBackgroundDiv {
    border: 1px solid darkslategrey;
    border-radius: 5px;
    width: 74px;
    height: 78px;
    overflow: hidden;
}

#hexInfoDetails {
    text-align-last: right;
    font-size: 11px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#hexInfoDiv {
    border: 1px solid darkslategrey;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
    background-color: beige;
    height: 180px;
}
