<div id="hexInfoHead" style="padding-top: 15px">
	<table style="width:100%; margin-bottom:5px">
		<tr style="vertical-align:middle">
			<td>
				<img id="hexInfoFlag" src="." alt="Flag"  class="snippet-smallshadow" />
			</td>
			<td style="white-space:nowrap">
				<div id="hexInfoOwner"></div>
			</td>
			<td style="text-align:right; width:100%">
				<div id="hexInfoHexId"></div>
			</td>
		</tr>
		<tr style="vertical-align:top">
			<td colspan="2">
				<div id="hexInfoBackgroundDiv" style="width:74px; height:78px; background-color:White; border: 1px solid #898989; overflow:hidden">
					<canvas id="hexInfoBackgroundCanvas"></canvas>
				</div>
			</td>
			<td style="position:fixed; left: 85px">
				<div>
				<span id="hexInfoCityName"></span><br />
				<span id="hexInfoCapital"></span>
				<span id="hexInfoPort"></span><br />
				<span id="hexInfoBeachIsland"></span><br />
				<span id="hexInfoTerrain"></span><br />
				</div>
			</td>
		</tr>
	</table>
</div>
<div id="hexInfoDiv" class="dialogCanvasDiv">
	<canvas id="hexInfoCanvas"></canvas>
</div>
