<div id="tables" class="dialogPopup" title="Tables">
    <div class="col-xs-4">
    
        <ul class="nav nav-tabs tabs-left">
             <li><a href="#rhtabs-1" data-toggle="tab">Ground combat</a></li>
             <li><a href="#rhtabs-2" data-toggle="tab">Attrition</a></li>
             <li><a href="#rhtabs-3" data-toggle="tab">Air combat</a></li>
			 <li><a href="#rhtabs-4" data-toggle="tab">Air defense</a></li>
			 <li><a href="#rhtabs-5" data-toggle="tab">Air Nationality</a></li>
			 <li><a href="#rhtabs-6" data-toggle="tab">Air range effects</a></li>
			 <li><a href="#rhtabs-7" data-toggle="tab">Naval attack</a></li>
			 <li><a href="#rhtabs-8" data-toggle="tab">Interception</a></li>
			 <li><a href="#rhtabs-9" data-toggle="tab">Naval nationality</a></li>
			 <li><a href="#rhtabs-10" data-toggle="tab">Search</a></li>
			 <!--<li><a href="#rhtabs-11" data-toggle="tab">Surprise</a></li>
			 <li><a href="#rhtabs-12" data-toggle="tab">Sub attack</a></li>
			 <li><a href="#rhtabs-13" data-toggle="tab">Strat warfare</a></li>
			 <li><a href="#rhtabs-14" data-toggle="tab">SW submarines</a></li>
			 <li><a href="#rhtabs-15" data-toggle="tab">SW bombers</a></li>
			 <li><a href="#rhtabs-16" data-toggle="tab">Raiders</a></li>
			 <li><a href="#rhtabs-17" data-toggle="tab">Winter</a></li>          -->
        </ul>
    </div> 
    <div class="col-xs-8">
        <div class="tab-content">
            <div id="#rhtabs-1" class="tab-pane">Hello<img src="/content/Tables/Combat_results_table.jpg" alt="Combat" /></div>
            <div id="#rhtabs-2" class="tab-pane">Boo<img src="/content/Tables/Attrition_table.jpg" alt="attrition" /></div>
            <div id="#rhtabs-3" class="tab-pane"><img src="/content/Tables/Air_combat_table.jpg" alt="air-combat" /></div>
            <div id="#rhtabs-4" class="tab-pane"><img src="/content/Tables/Air_defense_table.jpg" alt="air defense" /></div>
            <div id="#rhtabs-5" class="tab-pane"><img src="/content/Tables/Air_nationality_table.jpg" alt="air nationality" /></div>
            <div id="#rhtabs-6" class="tab-pane"><img src="/content/Tables/Air_range_table.jpg" alt="air range" /></div>
            <div id="#rhtabs-7" class="tab-pane"><img src="/content/Tables/Naval_attack_table.jpg" alt="Naval attack" /></div>
            <div id="#rhtabs-8" class="tab-pane"><img src="/content/Tables/Naval_interception_table.jpg" alt="Naval interception" /></div>
            <div id="#rhtabs-9" class="tab-pane"><img src="/content/Tables/Naval_nationality_table.jpg" alt="Naval nationality" /></div>
            <div id="#rhtabs-10" class="tab-pane"><img src="/content/Tables/Search_table.jpg" alt="search" /></div>
            <!--<div id="#rhtabs-11" class="tab-pane"><img src="/content/Tables/Surprise_table.jpg" alt="surprise" /></div>
            <div id="#rhtabs-12" class="tab-pane"><img src="/content/Tables/Submarine_attack_table.jpg" alt="Submarine attack" /></div>
            <div id="#rhtabs-13" class="tab-pane"><img src="/content/Tables/Strategic_warfare_table.jpg" alt="Strategic warfare" /></div>
            <div id="#rhtabs-14" class="tab-pane"><img src="/content/Tables/SW_subs_table.jpg" alt="SW subs" /></div>
            <div id="#rhtabs-15" class="tab-pane"><img src="/content/Tables/SW_bombers_table.jpg" alt="SW bombers" /></div>
            <div id="#rhtabs-16" class="tab-pane"><img src="/content/Tables/Raiders_table.jpg" alt="raiders" /></div>
            <div id="#rhtabs-17" class="tab-pane"><img src="/content/Tables/Winter_table.jpg" alt="" />winter</div>-->

        </div>
    </div>      


<!--<script type='text/javascript'>
	$("#rhtabs").verticaltabs({ slideShow: false, speed: 0 });
</script>-->

<!--<div class="verticalslider" id="rhtabs">
      <ul class="verticalslider_tabs">
             <li><a href="#rhtabs-1">Ground combat</a></li>
             <li><a href="#rhtabs-2">Attrition</a></li>
             <li><a href="#rhtabs-3">Air combat</a></li>
			 <li><a href="#rhtabs-4">Air defense</a></li>
			 <li><a href="#rhtabs-5">Air Nationality</a></li>
			 <li><a href="#rhtabs-6">Air range effects</a></li>
			 <li><a href="#rhtabs-7">Naval attack</a></li>
			 <li><a href="#rhtabs-8">Interception</a></li>
			 <li><a href="#rhtabs-9">Naval nationality</a></li>
			 <li><a href="#rhtabs-10">Search</a></li>
			 <li><a href="#rhtabs-11">Surprise</a></li>
			 <li><a href="#rhtabs-12">Sub attack</a></li>
			 <li><a href="#rhtabs-13">Strat warfare</a></li>
			 <li><a href="#rhtabs-14">SW submarines</a></li>
			 <li><a href="#rhtabs-15">SW bombers</a></li>
			 <li><a href="#rhtabs-16">Raiders</a></li>
			 <li><a href="#rhtabs-17">Winter</a></li>
      </ul>
	  <ul class="verticalslider_contents">
	  <li><img src="/content/Tables/Combat_results_table.jpg" alt="Combat" /></li>
	  <li><img src="/content/Tables/Attrition_table.jpg" alt="Attrition" /></li>
	  <li><img src="/content/Tables/Air_combat_table.jpg" alt="Air combat" /></li>
	  <li><img src="/content/Tables/Air_defense_table.jpg" alt="Air defense" /></li>
	  <li><img src="/content/Tables/Air_nationality_table.jpg" alt="Air Nationality" /></li>
	  <li><img src="/content/Tables/Air_range_table.jpg" alt="Air range" /></li>
	  <li><img src="/content/Tables/Naval_attack_table.jpg" alt="Naval attack" /></li>
	  <li><img src="/content/Tables/Naval_interception_table.jpg" alt="Naval interception" /></li>
	  <li><img src="/content/Tables/Naval_nationality_table.jpg" alt="Naval Nationality" /></li>
	  <li><img src="/content/Tables/Search_table.jpg" alt="Search" /></li>
	  <li><img src="/content/Tables/Surprise_table.jpg" alt="Surprise" /></li>
	  <li><img src="/content/Tables/Submarine_attack_table.jpg" alt="Submarine attack" /></li>
	  <li><img src= "/content/Tables/Strategic_warfare_table.jpg" alt="Strategic Warfare"/></li>
	  <li><img src= "/content/Tables/SW_subs_table.jpg" alt="SW subs"/></li>
	  <li><img src= "/content/Tables/SW_bombers_table.jpg" alt="SW bombers"/></li>
	  <li><img src="/content/Tables/Raider_table.jpg" alt="Raiders" /></li>
	  <li><img src="/content/Tables/Winter_table.jpg" alt="Winter" /></li>
	  </ul>


</div>-->
</div>
