{% extends "../index.html" %}

{% block view %}

<!-- <div id="mySplashDiv" style="width: 100%; display: block; position: absolute; top: 65px; left: 0px"></div> -->
<div id="mainGameDiv" style="display: none">
	<table>
		<tr style="vertical-align: top">
			<td>
				{% include "./_sidepanel.html" %}
			</td>
			<td style="width: 100%">
				{% include "./_map.html" %}

			</td>
		</tr>
	</table>


</div>

<!-- Popup dialogs -->

{% include "./_attrition.html" %}
{% include "./_codebreaking.html" %}
{% include "./_diplomacy.html" %}
{% include "./_gamesettings.html" %}
{% include "./_hexcontrol.html" %}
{% include "./_forcepool.html" %}
{% include "./_researchdisplay.html" %}
{% include "./_shipsatsea.html" %}
{% include "./_shipyard.html" %}
{% include "./_tables.html" %}
{% include "./_taskforce.html" %}
{% include "./_newunit.html" %}
{% include "./_unitcounter.html" %}

<!-- End Popup dialogs -->

<script>

// Start the Warplanner scripts

$(document).ready(function () {
	getWindowDimensions()
	splash(WP.initialize)

	function splash(fn){
		setTimeout(function(){
			fn()
			$("#mainGameDiv").show()
		}, 100)
	}
})
</script>

{% endblock %}
